{
    "env": {
      "es2021": true,
      "browser": true,
      "node": true
    },
    "rules": {
      "semi": "error",
      "indent": "error",
      "no-multiple-empty-lines": "error",
      "prefer-const": "error",
      "no-use-before-define": "error"
    }
  }